<launch>
  <arg name="ip"   default="192.168.1.20"/>
  <arg name="rate" default="30"/>
  <node name="wsg_50_driver" pkg="wsg_50_driver" type="wsg_50_ip" output="screen">
    <param name="ip" type="string" value="$(arg ip)"/>
    <param name="port" type="int" value="1000"/>
    <param name="protocol" type="string" value="tcp"/>
    <param name="com_mode" type="string" value="polling"/>
    <param name="rate" type="double" value="$(arg rate)"/>
    <param name="grasping_force" type="double" value="0.0"/>
    <param name="do_startup_homing" type="bool" value="false"/>
    <!-- NEW: use device push for status even in polling mode -->
    <param name="status_source" type="string" value="push"/>
  </node>
</launch>
